<!--
  list exam sectors
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{_title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider>
      <!-- cloze -->
      <h2>{{_sectorCloze.title}}</h2>
      <p>{{_sectorCloze.Directions}}</p>
    </ion-item-divider>
    <div padding *ngFor="let cloze of _sectorCloze.detail">
      <h2>{{cloze.title}}</h2>
      <div>
        <chip-content [(ngModel)]="cloze.article"></chip-content>
      </div>
      <ion-item *ngFor="let stem of cloze.stems">
        <h3>{{stem.no}}.{{stem.question}}</h3>
        <p>{{stem.option_a}}</p>
        <p>{{stem.option_b}}</p>
        <p>{{stem.option_c}}</p>
        <p>{{stem.option_d}}</p>
      </ion-item>
    </div>
    <ion-item-divider>
      <!-- reading -->
      <h2>{{_sectorReadings.title}}</h2>
      <p>{{_sectorReadings.Directions}}</p>
    </ion-item-divider>
    <div padding *ngFor="let reading of _sectorReadings.detail">
      <h2>{{reading.title}}</h2>
      <div>
        <chip-content [(ngModel)]="reading.article"></chip-content>
      </div>
      <ion-item *ngFor="let stem of reading.stems">
        <h3>{{stem.no}}.{{stem.question}}</h3>
        <p>{{stem.option_a}}</p>
        <p>{{stem.option_b}}</p>
        <p>{{stem.option_c}}</p>
        <p>{{stem.option_d}}</p>
      </ion-item>
    </div>
    <!-- translating -->
    <ion-item-divider>
      <h2>{{_sectorTranslation.title}}</h2>
      <p>{{_sectorTranslation.Directions}}</p>
    </ion-item-divider>
    <div padding *ngFor="let translation of _sectorTranslation.detail">
      <h2>{{translation.title}}</h2>
      <div>
        <chip-content [(ngModel)]="translation.article"></chip-content>
      </div>
      <ion-item *ngFor="let stem of translation.stems">
        <h3>{{stem.no}}.{{stem.question}}</h3>
      </ion-item>
    </div>
    <!-- writing -->
    <ion-item-divider>
      <h2>{{_sectorWriting.title}}</h2>
      <p>{{_sectorWriting.Directions}}</p>
    </ion-item-divider>
    <div padding *ngFor="let writing of _sectorWriting.detail">
      <h2>{{writing.no}}</h2>
      <div>
        <chip-content [(ngModel)]="writing.article"></chip-content>
      </div>
    </div>
  </ion-list>
</ion-content>
